/* Center the app container */
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  /* color: aliceblue; */
  background-color: #344d61;
}

/* Style the login form */
.login-form {
  width: 400px;
  /* Set a fixed width for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: auto;
  /* Center the form within its container */
}

/* Style the form inputs and labels */
.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button,
.users-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.users-btn {
  max-width: fit-content;
  padding: 1rem;
}

.users-btn a {
  color: aliceblue;
  text-decoration: none;
}

.login-form button:hover {
  background-color: #0056b3;
}



/* Style the registration form */
.registration-form {
  width: 400px;
  /* Set a fixed width for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: auto;
  /* Center the form within its container */
}


.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}

h3 {
  margin-top: 1rem;
}

.user-table {
  /* border: 1px solid aliceblue; */
  padding: 1rem;
  color: silver;
}

table {
  border: 1px solid white;
  border-collapse: separate;
  font-size: larger;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}


table th,
tr,
td {
  padding: 14px;
}

tr,
td {
  border: 1px solid aliceblue;
}